In [91]:
import pandas as pd
import numpy as np
import ast

In [57]:
cs_df = pd.read_csv("charging_sessions.csv", index_col=0)

In [58]:
cs_df.columns

Index(['id', 'connectionTime', 'disconnectTime', 'doneChargingTime',
       'kWhDelivered', 'sessionID', 'siteID', 'spaceID', 'stationID',
       'timezone', 'userID', 'userInputs'],
      dtype='object')

In [61]:
cs_df.head()

,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,sessionID,siteID,spaceID,stationID,timezone,userID,userInputs
0,5e23b149f9af8b5fe4b973cf,2020-01-02 13:08:54+00:00,2020-01-02 19:11:15+00:00,2020-01-02 17:31:35+00:00,25.016,1_1_179_810_2020-01-02 13:08:53.870034,1,AG-3F30,1-1-179-810,America/Los_Angeles,194.0,"[{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil..."
1,5e23b149f9af8b5fe4b973d0,2020-01-02 13:36:50+00:00,2020-01-02 22:38:21+00:00,2020-01-02 20:18:05+00:00,33.097,1_1_193_825_2020-01-02 13:36:49.599853,1,AG-1F01,1-1-193-825,America/Los_Angeles,4275.0,"[{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil..."
2,5e23b149f9af8b5fe4b973d1,2020-01-02 13:56:35+00:00,2020-01-03 00:39:22+00:00,2020-01-02 16:35:06+00:00,6.521,1_1_193_829_2020-01-02 13:56:35.214993,1,AG-1F03,1-1-193-829,America/Los_Angeles,344.0,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile..."
3,5e23b149f9af8b5fe4b973d2,2020-01-02 13:59:58+00:00,2020-01-02 16:38:39+00:00,2020-01-02 15:18:45+00:00,2.355,1_1_193_820_2020-01-02 13:59:58.309319,1,AG-1F04,1-1-193-820,America/Los_Angeles,1117.0,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile..."
4,5e23b149f9af8b5fe4b973d3,2020-01-02 14:00:01+00:00,2020-01-02 22:08:40+00:00,2020-01-02 18:17:30+00:00,13.375,1_1_193_819_2020-01-02 14:00:00.779967,1,AG-1F06,1-1-193-819,America/Los_Angeles,334.0,"[{'WhPerMile': 400, 'kWhRequested': 16.0, 'mil..."

In [63]:
cs_df.describe()

       kWhDelivered        siteID        userID
count  66450.000000  66450.000000  49187.000000
mean      11.787916      1.472656   1800.494582
std       10.314789      0.499256   2617.548614
min        0.501000      1.000000      1.000000
25%        5.097000      1.000000    431.000000
50%        9.140000      1.000000    818.000000
75%       14.183000      2.000000   1805.000000
max      108.797242      2.000000  19923.000000

In [65]:
cs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66450 entries, 0 to 10087
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                66450 non-null  object
 1   connectionTime    66450 non-null  object
 2   disconnectTime    66450 non-null  object
 3   doneChargingTime  62362 non-null  object
 4   kWhDelivered      66450 non-null  float64
 5   sessionID         66450 non-null  object
 6   siteID            66450 non-null  int64
 7   spaceID           66450 non-null  object
 8   stationID         66450 non-null  object
 9   timezone          66450 non-null  object
 10  userID            49187 non-null  float64
 11  userInputs        49187 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 6.6+ MB

In [67]:
# Convert time fields to datetime type
cs_df['connectionTime'] = pd.to_datetime(cs_df['connectionTime'])
cs_df['disconnectTime'] = pd.to_datetime(cs_df['disconnectTime'])
cs_df['doneChargingTime'] = pd.to_datetime(cs_df['doneChargingTime'])

cs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66450 entries, 0 to 10087
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                66450 non-null  object
 1   connectionTime    66450 non-null  datetime64[ns, UTC]
 2   disconnectTime    66450 non-null  datetime64[ns, UTC]
 3   doneChargingTime  62362 non-null  datetime64[ns, UTC]
 4   kWhDelivered      66450 non-null  float64
 5   sessionID         66450 non-null  object
 6   siteID            66450 non-null  int64
 7   spaceID           66450 non-null  object
 8   stationID         66450 non-null  object
 9   timezone          66450 non-null  object
 10  userID            49187 non-null  float64
 11  userInputs        49187 non-null  object
dtypes: datetime64[ns, UTC](3), float64(2), int64(1), object(6)
memory usage: 6.6+ MB

In [69]:
cs_df.isnull().sum()

id                      0
connectionTime          0
disconnectTime          0
doneChargingTime     4088
kWhDelivered            0
sessionID               0
siteID                  0
spaceID                 0
stationID               0
timezone                0
userID              17263
userInputs          17263
dtype: int64

In [71]:
#Store the cleaned dataset as ccs_df
ccs_df = cs_df.dropna(subset = ['doneChargingTime']).copy() #删除缺失doneChargingTime的行
ccs_df['isRegisteredUser'] = ccs_df['userID'].notna().astype(int) #保留缺失userID和userInputs的行，添加标志列，区分注册和未注册用户，用于观察行为模式差异

In [73]:
# Handle erroneous data
# Check if there are records where kWhDelivered is negative
invalid_kwh = ccs_df[ccs_df['kWhDelivered'] < 0]
print(f"Number of records with negative kWhDelivered: {len(invalid_kwh)}")

# Check if disconnectTime is earlier than connectionTime
invalid_time_order = ccs_df[ccs_df['disconnectTime'] < ccs_df['connectionTime']]
print(f"Number of records with disconnectTime earlier than connectionTime: {len(invalid_time_order)}")

# Check if doneChargingTime is between connectionTime and disconnectTime
invalid_done_charging = ccs_df[(ccs_df['doneChargingTime'] < ccs_df['connectionTime']) | (ccs_df['doneChargingTime'] > ccs_df['disconnectTime'])]
print(f"Number of records with invalid doneChargingTime: {len(invalid_done_charging)}")

Number of records with negative kWhDelivered: 0
Number of records with disconnectTime earlier than connectionTime: 0
Number of records with invalid doneChargingTime: 4719

In [75]:
# Remove records where doneChargingTime is not between connectionTime and disconnectTime
ccs_df = ccs_df[(ccs_df['doneChargingTime'] >= ccs_df['connectionTime']) & (ccs_df['doneChargingTime'] <= ccs_df['disconnectTime'])]

In [77]:
# Check the number of duplicated rows where all columns are identical
num_duplicates = ccs_df.duplicated().sum()
print(f"Number of duplicated records: {num_duplicates}")

Number of duplicated records: 1107

In [87]:
# Remove duplicate rows, keeping only the first occurrence
ccs_df = ccs_df.drop_duplicates()

len(ccs_df)

56536

In [97]:
#processes the userInputs column to convert string representations into lists of dictionaries, expands the first dictionary in each list into separate columns, and then merges these expanded columns back into the original DataFrame
ccs_df = pd.read_csv('charging_sessions.csv')

ccs_df['userInputs'] = ccs_df['userInputs'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

ccs_df['userInputs'] = ccs_df['userInputs'].apply(lambda x: x if isinstance(x, list) else [])

user_input_expanded = ccs_df['userInputs'].apply(lambda x: x[0] if len(x) > 0 else {}).apply(pd.Series)

ccs_df = pd.concat([ccs_df, user_input_expanded], axis=1)

# Remove duplicate userID columns
ccs_df = ccs_df.loc[:, ~ccs_df.columns.duplicated()]

ccs_df.head()

,Unnamed: 0,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,sessionID,siteID,spaceID,stationID,timezone,userID,userInputs,WhPerMile,kWhRequested,milesRequested,minutesAvailable,modifiedAt,paymentRequired,requestedDeparture
0,0,5e23b149f9af8b5fe4b973cf,2020-01-02 13:08:54+00:00,2020-01-02 19:11:15+00:00,2020-01-02 17:31:35+00:00,25.016,1_1_179_810_2020-01-02 13:08:53.870034,1,AG-3F30,1-1-179-810,America/Los_Angeles,194.0,"[{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil...",250.0,25.0,100.0,463.0,"Thu, 02 Jan 2020 13:09:39 GMT",True,"Thu, 02 Jan 2020 20:51:54 GMT"
1,1,5e23b149f9af8b5fe4b973d0,2020-01-02 13:36:50+00:00,2020-01-02 22:38:21+00:00,2020-01-02 20:18:05+00:00,33.097,1_1_193_825_2020-01-02 13:36:49.599853,1,AG-1F01,1-1-193-825,America/Los_Angeles,4275.0,"[{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil...",280.0,70.0,250.0,595.0,"Thu, 02 Jan 2020 13:37:11 GMT",True,"Thu, 02 Jan 2020 23:31:50 GMT"
2,2,5e23b149f9af8b5fe4b973d1,2020-01-02 13:56:35+00:00,2020-01-03 00:39:22+00:00,2020-01-02 16:35:06+00:00,6.521,1_1_193_829_2020-01-02 13:56:35.214993,1,AG-1F03,1-1-193-829,America/Los_Angeles,344.0,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...",400.0,8.0,20.0,60.0,"Thu, 02 Jan 2020 13:57:17 GMT",True,"Thu, 02 Jan 2020 14:56:35 GMT"
3,3,5e23b149f9af8b5fe4b973d2,2020-01-02 13:59:58+00:00,2020-01-02 16:38:39+00:00,2020-01-02 15:18:45+00:00,2.355,1_1_193_820_2020-01-02 13:59:58.309319,1,AG-1F04,1-1-193-820,America/Los_Angeles,1117.0,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...",400.0,8.0,20.0,65.0,"Thu, 02 Jan 2020 14:00:03 GMT",True,"Thu, 02 Jan 2020 15:04:58 GMT"
4,4,5e23b149f9af8b5fe4b973d3,2020-01-02 14:00:01+00:00,2020-01-02 22:08:40+00:00,2020-01-02 18:17:30+00:00,13.375,1_1_193_819_2020-01-02 14:00:00.779967,1,AG-1F06,1-1-193-819,America/Los_Angeles,334.0,"[{'WhPerMile': 400, 'kWhRequested': 16.0, 'mil...",400.0,16.0,40.0,504.0,"Thu, 02 Jan 2020 14:00:13 GMT",True,"Thu, 02 Jan 2020 22:24:01 GMT"